// rem fallback - credits: http://zerosixthree.se/


@mixin globalTransition($gloTrans){
    -webkit-transition:($gloTrans);
    -moz-transition:($gloTrans);
    -ms-transition:($gloTrans);
    -o-transition:($gloTrans);
    transition:($gloTrans);    
}

@mixin borderRadius($radius){
    -webkit-border-radius:($radius);
    -moz-border-radius:($radius);
    -ms-border-radius:($radius);
    -o-border-radius:($radius);
    border-radius:($radius);
}

@mixin transform($val) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  transform: $val;
}

@mixin box-shadow($val) {
  -webkit-box-shadow: $val;
  -moz-box-shadow:  $val;
  box-shadow: $val;
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// center vertically and/or horizontally an absolute positioned element

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(transformX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(transformY(-50%));
  }
}

// border radius

@mixin border-radius($radius:.25em) {
  border-radius: $radius;
}

