/* color define */
/* font and other element Colors */
/* background colors */
/* line 5, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
html {
  font-size: 16px;
  line-height: 1.75; }

/* line 10, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 15, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  background: #f7f7f7; }

/* line 28, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: normal; }

/* line 35, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
a,
button,
input {
  outline: none;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -ms-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  /* line 41, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  a:hover,
  a:active,
  a:focus,
  button:hover,
  button:active,
  button:focus,
  input:hover,
  input:active,
  input:focus {
    outline: none; }

/* line 46, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
h2.line {
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.5rem;
  color: #ff5a21;
  text-transform: uppercase; }
  /* line 52, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  h2.line:after {
    content: "";
    clear: both;
    display: block;
    margin: 20px auto 0;
    height: 2px;
    background: #626d7b;
    width: 160px; }

/* line 63, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
.underLineEffect, #leftSlidenav .leftNav ul a, .productContainer .prodShortNav ul.themeNav a, footer .footNav .footNavlist li a {
  display: inline-block;
  width: auto;
  padding: 2px 0;
  color: #626d7b;
  text-decoration: none; }
  /* line 70, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .underLineEffect:after, #leftSlidenav .leftNav ul a:after, .productContainer .prodShortNav ul.themeNav a:after, footer .footNav .footNavlist li a:after {
    content: " ";
    display: block;
    margin: 1px 0 0;
    height: 1px;
    width: 1%;
    background: rgba(5, 192, 245, 0);
    -webkit-transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -ms-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s; }
  /* line 83, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .underLineEffect:hover:after, #leftSlidenav .leftNav ul a:hover:after, .productContainer .prodShortNav ul.themeNav a:hover:after, footer .footNav .footNavlist li a:hover:after {
    width: 100%;
    background: #05c0f5; }

/* line 92, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
.dropdownStyle, .productContainer .prodShortNav .selectForm .dropdown-toggle {
  height: 50px;
  width: 200px;
  border: 2px solid #969daa;
  font-family: "Montserrat", sans-serif;
  color: #626d7b;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

/* ICONS */
/* line 102, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
.zi-icons, .zi-cart {
  position: relative;
  top: 1px;
  display: inline-block;
  line-height: 1;
  background-image: url("../images/sprite.svg");
  width: 24px;
  height: 24px; }

/* line 112, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
.zi-cart {
  background-size: 320px 320px;
  background-position: -8px -11px; }

/* line 118, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
.flexRow {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between; }

/* line 124, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
.container {
  width: 1200px; }

/* Navigation Style Start */
/* line 130, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
.navbar.navbar-inverse {
  width: 100%;
  height: 60px;
  background: #fff;
  border: 0;
  -webkit-box-shadow: -7px 0 5px rgba(212, 215, 221, 0.8);
  -moz-box-shadow: -7px 0 5px rgba(212, 215, 221, 0.8);
  box-shadow: -7px 0 5px rgba(212, 215, 221, 0.8); }
  /* line 136, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .navbar.navbar-inverse .containerNav {
    width: 100%;
    height: 60px;
    position: relative; }
  /* line 141, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .navbar.navbar-inverse a {
    text-transform: uppercase;
    color: #414a57;
    text-decoration: none; }
    /* line 145, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .navbar.navbar-inverse a span {
      -webkit-transition: all ease-out 0.4s;
      -moz-transition: all ease-out 0.4s;
      -ms-transition: all ease-out 0.4s;
      -o-transition: all ease-out 0.4s;
      transition: all ease-out 0.4s;
      outline: none; }
      /* line 149, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      .navbar.navbar-inverse a span:focus,
      .navbar.navbar-inverse a span:active {
        outline: none; }
  /* line 154, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .navbar.navbar-inverse a:hover {
    color: #ff5a21; }
  /* line 158, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .navbar.navbar-inverse .navbar-slide,
  .navbar.navbar-inverse .navbar-collapse {
    text-align: left; }
  /* line 161, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .navbar.navbar-inverse .navbar-slide {
    padding: 19px 0 0 20px;
    order: 1; }
    /* line 167, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .navbar.navbar-inverse .navbar-slide #leftNavTrig .NavTitle {
      margin-left: 25px;
      font-size: 0.8125rem; }
    /* line 172, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .navbar.navbar-inverse .navbar-slide #leftNavTrig .iconNav {
      /* this span is the central line in the menu menu */
      display: inline-block;
      position: absolute;
      top: 50%;
      width: 18px;
      height: 2px;
      background-color: #414a57;
      -webkit-transition: all ease-out 0.1s;
      -moz-transition: all ease-out 0.1s;
      -ms-transition: all ease-out 0.1s;
      -o-transition: all ease-out 0.1s;
      transition: all ease-out 0.1s;
      /* these are the upper and lower lines in the menu menu */ }
      /* line 183, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      .navbar.navbar-inverse .navbar-slide #leftNavTrig .iconNav::before, .navbar.navbar-inverse .navbar-slide #leftNavTrig .iconNav:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: inherit;
        left: 0;
        -webkit-transition: all ease-out 0.1s;
        -moz-transition: all ease-out 0.1s;
        -ms-transition: all ease-out 0.1s;
        -o-transition: all ease-out 0.1s;
        transition: all ease-out 0.1s; }
      /* line 193, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      .navbar.navbar-inverse .navbar-slide #leftNavTrig .iconNav::before {
        bottom: 5px; }
      /* line 197, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      .navbar.navbar-inverse .navbar-slide #leftNavTrig .iconNav::after {
        top: 5px; }
    /* line 203, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .navbar.navbar-inverse .navbar-slide #leftNavTrig.is-clicked .iconNav {
      background-color: rgba(65, 74, 87, 0);
      -webkit-transition: all ease-out 0.05s;
      -moz-transition: all ease-out 0.05s;
      -ms-transition: all ease-out 0.05s;
      -o-transition: all ease-out 0.05s;
      transition: all ease-out 0.05s; }
      /* line 207, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      .navbar.navbar-inverse .navbar-slide #leftNavTrig.is-clicked .iconNav::before, .navbar.navbar-inverse .navbar-slide #leftNavTrig.is-clicked .iconNav::after {
        background-color: #414a57;
        -webkit-transition: all ease-out 0.1s;
        -moz-transition: all ease-out 0.1s;
        -ms-transition: all ease-out 0.1s;
        -o-transition: all ease-out 0.1s;
        transition: all ease-out 0.1s; }
      /* line 212, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      .navbar.navbar-inverse .navbar-slide #leftNavTrig.is-clicked .iconNav::before {
        bottom: 0;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      /* line 217, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      .navbar.navbar-inverse .navbar-slide #leftNavTrig.is-clicked .iconNav::after {
        top: 0;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
  /* line 226, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .navbar.navbar-inverse .navbar-header {
    position: absolute;
    display: inline-block;
    width: 150px;
    height: 25px;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    order: 2; }
    /* line 233, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .navbar.navbar-inverse .navbar-header .navbar-brand {
      padding: 0;
      height: 100%;
      width: 150px;
      background: url(../images/zoomin-logo.svg) left top no-repeat;
      font-size: 1%;
      color: #fff;
      text-indent: -9999px; }
  /* line 244, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .navbar.navbar-inverse .navbar-collapse {
    padding: 20px 20px 0 0;
    order: 3; }
    /* line 248, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .navbar.navbar-inverse .navbar-collapse .navbar-nav li {
      margin: 0 18px; }
      /* line 250, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      .navbar.navbar-inverse .navbar-collapse .navbar-nav li a {
        padding: 0;
        font-size: 0.8125rem;
        color: #414a57;
        background-color: none; }
        /* line 257, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
        .navbar.navbar-inverse .navbar-collapse .navbar-nav li a:hover,
        .navbar.navbar-inverse .navbar-collapse .navbar-nav li a:focus {
          color: #ff5a21; }
        /* line 261, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
        .navbar.navbar-inverse .navbar-collapse .navbar-nav li a.zi-cart {
          text-indent: -9999px; }
      /* line 265, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      .navbar.navbar-inverse .navbar-collapse .navbar-nav li .dropdown-menu {
        border: 0;
        top: 25px;
        left: -20px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0; }
        /* line 274, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
        .navbar.navbar-inverse .navbar-collapse .navbar-nav li .dropdown-menu li {
          margin: 8px 0 8px 20px; }
          /* line 276, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
          .navbar.navbar-inverse .navbar-collapse .navbar-nav li .dropdown-menu li a {
            font-size: 0.8125rem;
            font-weight: 300;
            text-transform: none;
            color: #626d7b;
            -webkit-transition: all ease-out 0.2s;
            -moz-transition: all ease-out 0.2s;
            -ms-transition: all ease-out 0.2s;
            -o-transition: all ease-out 0.2s;
            transition: all ease-out 0.2s; }
            /* line 282, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
            .navbar.navbar-inverse .navbar-collapse .navbar-nav li .dropdown-menu li a:hover {
              color: #414a57; }
      /* line 288, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      .navbar.navbar-inverse .navbar-collapse .navbar-nav li:last-child {
        margin: 0; }
      /* line 293, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      .navbar.navbar-inverse .navbar-collapse .navbar-nav li.active a, .navbar.navbar-inverse .navbar-collapse .navbar-nav li.active a:hover, .navbar.navbar-inverse .navbar-collapse .navbar-nav li.active a:focus {
        background-color: transparent;
        color: #ff5a21; }
      /* line 297, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      .navbar.navbar-inverse .navbar-collapse .navbar-nav li.active .zi-cart {
        background-position: -8px -51px;
        background-color: none; }
    /* line 307, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .navbar.navbar-inverse .navbar-collapse .open a {
      background: none; }
      /* line 310, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      .navbar.navbar-inverse .navbar-collapse .open a:hover, .navbar.navbar-inverse .navbar-collapse .open a:focus {
        background: none; }

/* Navigation Style End */
/* Slider Navigations Start */
/* line 323, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
#leftSlidenav {
  position: fixed;
  height: 100%;
  left: 0;
  top: 60px;
  visibility: hidden;
  /* the secondary navigation is covered by the main element */
  z-index: 1031;
  width: 260px;
  background-color: #fff;
  overflow-y: auto;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0.4s;
  -moz-transition: -moz-transform 0.4s 0s, visibility 0s 0.4s;
  transition: transform 0.4s 0s, visibility 0s 0.4s;
  /* this creates the subtle slide in animation of the navigation */
  -webkit-transform: translateX(-260px);
  -moz-transform: translateX(-260px);
  -ms-transform: translateX(-260px);
  transform: translateX(-260px); }
  /* line 343, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  #leftSlidenav .leftNav {
    margin: 10px 0 16px;
    padding-left: 0;
    list-style: none; }
    /* line 348, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    #leftSlidenav .leftNav ul {
      list-style: none; }
      /* line 351, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      #leftSlidenav .leftNav ul li {
        margin-bottom: 5px; }
      /* line 354, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      #leftSlidenav .leftNav ul a {
        padding: 0;
        font-size: 0.8125rem;
        font-weight: 300;
        line-height: 1.2;
        color: #626d7b; }
        /* line 362, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
        #leftSlidenav .leftNav ul a:hover {
          text-decoration: none;
          color: #ff5a21; }
          /* line 366, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
          #leftSlidenav .leftNav ul a:hover:after {
            background: #ff5a21; }
        /* line 371, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
        #leftSlidenav .leftNav ul a.cartCnt {
          color: #ff5a21; }
    /* line 376, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    #leftSlidenav .leftNav li.subnav {
      margin-bottom: 20px;
      padding: 0 0 17px 20px;
      border-bottom: 1px solid #e5e9ef; }
      /* line 381, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      #leftSlidenav .leftNav li.subnav:last-child {
        padding-bottom: 80px; }
      /* line 385, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      #leftSlidenav .leftNav li.subnav .appBtn {
        overflow: hidden; }
        /* line 388, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
        #leftSlidenav .leftNav li.subnav .appBtn li {
          float: left; }
        /* line 392, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
        #leftSlidenav .leftNav li.subnav .appBtn a {
          display: block;
          float: left;
          width: 30px;
          height: 30px;
          text-indent: -9999px;
          background-size: 450px 450px !important; }
          /* line 401, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
          #leftSlidenav .leftNav li.subnav .appBtn a:hover:after, #leftSlidenav .leftNav li.subnav .appBtn a:focus:after {
            background: none; }
        /* line 407, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
        #leftSlidenav .leftNav li.subnav .appBtn .iosStore {
          margin-right: 20px;
          background-position: -15px -126px; }
        /* line 412, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
        #leftSlidenav .leftNav li.subnav .appBtn .playStore {
          background-position: -72px -126px; }
      /* line 417, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      #leftSlidenav .leftNav li.subnav .socialIcon {
        overflow: hidden; }
        /* line 419, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
        #leftSlidenav .leftNav li.subnav .socialIcon li {
          float: left;
          list-style: none;
          margin-right: 20px; }
          /* line 423, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
          #leftSlidenav .leftNav li.subnav .socialIcon li a {
            display: block;
            width: 30px;
            height: 30px;
            text-indent: -9999px;
            background-size: 450px 450px !important; }
            /* line 431, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
            #leftSlidenav .leftNav li.subnav .socialIcon li a:hover:after, #leftSlidenav .leftNav li.subnav .socialIcon li a:focus:after {
              background: none; }
          /* line 437, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
          #leftSlidenav .leftNav li.subnav .socialIcon li .zi-fb {
            background-position: -70px -14px; }
          /* line 441, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
          #leftSlidenav .leftNav li.subnav .socialIcon li .zi-ig {
            background-position: -126px -14px; }
          /* line 445, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
          #leftSlidenav .leftNav li.subnav .socialIcon li .zi-gplus {
            background-position: -182px -14px; }
  /* line 453, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  #leftSlidenav h3 {
    font-size: 1.25rem;
    color: #05c0f5;
    text-transform: uppercase;
    margin-left: 30px; }
  /* line 460, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  #leftSlidenav .sub-menu {
    padding: 0 10px 20px 15px;
    display: none; }
  /* line 465, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  #leftSlidenav a {
    display: block;
    line-height: 2em;
    padding: 0 16px 0 32px;
    color: #414a57; }
    /* line 470, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    #leftSlidenav a.current {
      background-color: white;
      color: #FFF; }
    /* line 475, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    #leftSlidenav a .no-touch:hover {
      color: #FFF; }
  /* line 480, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  #leftSlidenav.leftNavOpen {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform 0.4s 0s, visibility 0s 0s;
    transition: transform 0.4s 0s, visibility 0s 0s;
    /* smooth the scrolling on touch devices - webkit browsers */
    -webkit-overflow-scrolling: touch; }

/* Slide Navigation End */
/* line 493, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
.menuOverlay {
  /* set a min-height and a z-index to be sure that the main element completely covers the lateral menu */
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;
  position: fixed;
  background-color: transparent;
  visibility: hidden;
  z-index: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: all ease-out 0.2s;
  -moz-transition: all ease-out 0.2s;
  -ms-transition: all ease-out 0.2s;
  -o-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s; }
  /* line 509, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .menuOverlay.leftNavOpen {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: all ease-out 0.2s;
    -moz-transition: all ease-out 0.2s;
    -ms-transition: all ease-out 0.2s;
    -o-transition: all ease-out 0.2s;
    transition: all ease-out 0.2s;
    z-index: 20; }

/* Carousel CSS Start */
/* line 520, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
#myCarousel {
  margin-top: 60px;
  width: 100%; }
  /* line 524, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  #myCarousel .carousel-inner {
    margin: 0 auto;
    width: 1200px;
    min-width: 300px;
    height: 400px;
    min-height: 400px; }
    /* line 531, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    #myCarousel .carousel-inner .heroBanner {
      width: 100%;
      height: 400px; }
    /* line 536, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    #myCarousel .carousel-inner .first-slide {
      background: url(../images/banner-01.jpg) left top no-repeat;
      background-size: cover; }
    /* line 541, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    #myCarousel .carousel-inner .second-slide {
      background: url(../images/banner-02.jpg) left top no-repeat;
      background-size: cover; }
    /* line 546, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    #myCarousel .carousel-inner .third-slide {
      background: url(../images/banner-03.jpg) left top no-repeat;
      background-size: cover; }
  /* line 553, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  #myCarousel .carousel-control {
    background: none;
    width: 5%;
    opacity: 1;
    font-size: 1.875rem;
    color: #f6f7fc; }
    /* line 560, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    #myCarousel .carousel-control .glyphicon-chevron-left, #myCarousel .carousel-control .glyphicon-chevron-right {
      top: 42%; }
    /* line 564, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    #myCarousel .carousel-control .glyphicon-chevron-left::before, #myCarousel .carousel-control .glyphicon-chevron-right:before {
      content: none; }

/* line 571, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
.carousel-indicators .active {
  background: #00c099;
  border-color: #00c099; }

/* Carousel CSS End */
/* Product Nav CSS */
/* line 580, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
.productContainer {
  background: #fff;
  padding: 35px 0; }
  /* line 584, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .productContainer .container {
    padding: 0; }
  /* line 588, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .productContainer .prodShortNav {
    position: relative;
    margin-bottom: 35px;
    font-size: 0.875rem;
    height: 50px;
    z-index: 10; }
    /* line 594, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .productContainer .prodShortNav .selectForm {
      float: left; }
      /* line 596, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      .productContainer .prodShortNav .selectForm .dropdown-toggle {
        float: left; }
        /* line 600, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
        .productContainer .prodShortNav .selectForm .dropdown-toggle:hover {
          background: #fcfcfc; }
    /* line 606, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .productContainer .prodShortNav .bootstrap-select {
      width: 200px !important; }
    /* line 611, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .productContainer .prodShortNav .selectform.open .dropdown-toggle {
      background: #fafafa; }
    /* line 616, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .productContainer .prodShortNav .dropdown-menu {
      width: 200px;
      margin: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
      /* line 622, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      .productContainer .prodShortNav .dropdown-menu li {
        width: 100%; }
        /* line 625, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
        .productContainer .prodShortNav .dropdown-menu li a {
          padding-top: 5px;
          padding-bottom: 5px;
          font-family: "Montserrat", sans-serif;
          font-size: 0.8125rem;
          font-weight: 300;
          line-height: 22px;
          color: #626d7b; }
          /* line 634, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
          .productContainer .prodShortNav .dropdown-menu li a:hover {
            color: #ff5a21; }
        /* line 638, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
        .productContainer .prodShortNav .dropdown-menu li .glyphicon-ok {
          color: #00c099; }
    /* line 644, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .productContainer .prodShortNav .themeNavContainer {
      float: left;
      width: calc(100% - 220px); }
    /* line 649, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .productContainer .prodShortNav ul.themeNav {
      float: left;
      padding: 0;
      width: 100%;
      list-style: none;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      justify-content: space-around; }
      /* line 663, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      .productContainer .prodShortNav ul.themeNav li {
        float: left;
        flex-grow: 1;
        text-align: center; }
      /* line 669, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      .productContainer .prodShortNav ul.themeNav a {
        padding: 15px 0 0;
        color: #626d7b;
        text-transform: uppercase; }
        /* line 675, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
        .productContainer .prodShortNav ul.themeNav a:hover, .productContainer .prodShortNav ul.themeNav a.active {
          text-decoration: none;
          color: #ff5a21; }
          /* line 679, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
          .productContainer .prodShortNav ul.themeNav a:hover:after, .productContainer .prodShortNav ul.themeNav a.active:after {
            background: #ff5a21; }
          /* line 683, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
          .productContainer .prodShortNav ul.themeNav a:hover.active, .productContainer .prodShortNav ul.themeNav a.active.active {
            -webkit-transition: none;
            -moz-transition: none;
            -ms-transition: none;
            -o-transition: none;
            transition: none; }
            /* line 685, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
            .productContainer .prodShortNav ul.themeNav a:hover.active:after, .productContainer .prodShortNav ul.themeNav a.active.active:after {
              width: 100%; }
            /* line 689, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
            .productContainer .prodShortNav ul.themeNav a:hover.active:hover, .productContainer .prodShortNav ul.themeNav a.active.active:hover {
              text-decoration: none;
              color: #ff5a21; }
      /* line 698, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      .productContainer .prodShortNav ul.themeNav .deals a {
        color: #00c099; }
        /* line 701, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
        .productContainer .prodShortNav ul.themeNav .deals a:hover, .productContainer .prodShortNav ul.themeNav .deals a.active {
          color: #00c099; }
          /* line 704, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
          .productContainer .prodShortNav ul.themeNav .deals a:hover:after, .productContainer .prodShortNav ul.themeNav .deals a.active:after {
            background: #00c099; }
        /* line 709, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
        .productContainer .prodShortNav ul.themeNav .deals a.active {
          -webkit-transition: none;
          -moz-transition: none;
          -ms-transition: none;
          -o-transition: none;
          transition: none; }
          /* line 711, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
          .productContainer .prodShortNav ul.themeNav .deals a.active:after {
            width: 100%; }
          /* line 715, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
          .productContainer .prodShortNav ul.themeNav .deals a.active:hover {
            color: #00c099; }
  /* line 726, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .productContainer .prodCat {
    position: relative;
    overflow: hidden;
    padding: 0;
    z-index: 8; }
    /* line 732, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .productContainer .prodCat .themeBanner {
      float: left;
      width: 315px;
      margin-right: 20px; }
  /* line 739, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .productContainer .prodThumbContainer {
    float: left;
    padding: 0;
    width: calc(100% - 335px); }
  /* line 745, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .productContainer .productThumb {
    position: relative;
    overflow: hidden;
    float: left;
    margin: 0 20px 20px 0;
    cursor: pointer;
    width: 275px; }
    /* line 753, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .productContainer .productThumb img {
      position: relative;
      display: block;
      width: 100%;
      max-width: 100%; }
    /* line 761, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .productContainer .productThumb figcaption, .productContainer .productThumb h4, .productContainer .productThumb p {
      position: absolute;
      left: 25px;
      opacity: 0;
      top: 0; }
    /* line 768, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .productContainer .productThumb figcaption {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      top: auto;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: rgba(65, 74, 87, 0.7);
      color: #f0f0f0;
      -webkit-transition: -webkit-transform 0.5s;
      transition: transform 0.5s;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      opacity: 0; }
      /* line 784, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      .productContainer .productThumb figcaption:before, .productContainer .productThumb figcaption:after {
        pointer-events: none; }
      /* line 789, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      .productContainer .productThumb figcaption h4, .productContainer .productThumb figcaption p {
        -webkit-transition: -webkit-transform 1s;
        transition: transform 1s;
        -webkit-transform: translate3d(0, 200%, 0);
        transform: translate3d(0, 200%, 0); }
      /* line 797, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      .productContainer .productThumb figcaption h4 {
        top: 20px;
        margin: 0;
        font-size: 1.125rem;
        color: #f7f7f7;
        text-transform: uppercase; }
      /* line 805, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      .productContainer .productThumb figcaption p {
        top: 45px;
        font-size: 0.938;
        color: #f0f0f0; }
      /* line 811, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      .productContainer .productThumb figcaption .btnDiv {
        left: 0;
        top: auto;
        bottom: 25px;
        width: 100%;
        text-align: center; }
        /* line 818, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
        .productContainer .productThumb figcaption .btnDiv .btn {
          display: inline-block;
          border: 2px solid #3fd0f5;
          width: 120px;
          height: 36px;
          font-size: 0.875rem;
          color: #f0f0f0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          -o-border-radius: 0;
          border-radius: 0; }
          /* line 827, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
          .productContainer .productThumb figcaption .btnDiv .btn:hover {
            background: rgba(229, 233, 239, 0.2);
            color: #fafafa; }
    /* line 838, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .productContainer .productThumb:hover figcaption, .productContainer .productThumb:hover h4, .productContainer .productThumb:hover p {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1; }
    /* line 844, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .productContainer .productThumb:hover h4 {
      -webkit-transition-delay: 0.05s;
      transition-delay: 0.05s; }
    /* line 849, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .productContainer .productThumb:hover .description {
      -webkit-transition-delay: 0.075s;
      transition-delay: 0.05s; }
    /* line 854, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .productContainer .productThumb:hover .btnDiv {
      -webkit-transition-delay: 0.1s;
      transition-delay: 0.05s; }
    /* line 860, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .productContainer .productThumb:nth-child(3n) {
      margin-right: 0; }

/* Product Container Div End */
/* Social Media Div Start */
/* line 869, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
.socialContainer {
  padding: 25px 0 35px;
  width: 100%;
  background: #f7f7f7; }
  /* line 876, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .socialContainer div {
    height: 300px;
    background: url(../images/img-sm-strip.jpg) center top; }

/* Social Media Div End */
/* Footer Start */
/* line 886, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
footer {
  position: relative;
  background: #fcfcfc;
  padding-top: 30px;
  overflow: hidden;
  z-index: 1; }
  /* line 893, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  footer .footerMain {
    padding: 0 2% 25px;
    overflow: hidden; }
  /* line 898, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  footer .footNav {
    float: left;
    padding: 0; }
    /* line 902, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    footer .footNav h6 {
      margin: 0 0 20px;
      padding: 0 0 20px 0;
      font-size: 0.875rem;
      color: #05c0f5;
      text-transform: uppercase;
      border-bottom: 1px solid #e5e9ef; }
    /* line 912, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    footer .footNav .footNavlist {
      clear: both;
      list-style: none;
      padding: 0;
      margin: 0; }
      /* line 918, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      footer .footNav .footNavlist li {
        margin: 2px 0 4px; }
        /* line 920, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
        footer .footNav .footNavlist li a {
          display: inline-block;
          width: auto;
          padding: 2px 0;
          font-family: "Source Sans Pro", sans-serif;
          font-size: 0.875rem;
          color: #626d7b;
          text-decoration: none;
          line-height: 16px; }
          /* line 931, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
          footer .footNav .footNavlist li a:hover {
            color: #05c0f5; }
          /* line 935, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
          footer .footNav .footNavlist li a sup {
            font-size: 12px;
            color: #ff4708;
            font-weight: 600; }
        /* line 941, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
        footer .footNav .footNavlist li:last-child {
          margin-bottom: 0; }
    /* line 948, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    footer .footNav:last-child .socialIcon {
      overflow: hidden;
      padding: 0; }
      /* line 951, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      footer .footNav:last-child .socialIcon li {
        float: left;
        list-style: none;
        margin-right: 20px; }
        /* line 955, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
        footer .footNav:last-child .socialIcon li a {
          display: block;
          width: 30px;
          height: 30px;
          text-indent: -9999px;
          background-size: 450px 450px !important; }
        /* line 963, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
        footer .footNav:last-child .socialIcon li .zi-fb {
          background-position: -70px -14px; }
        /* line 967, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
        footer .footNav:last-child .socialIcon li .zi-ig {
          background-position: -126px -14px; }
        /* line 971, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
        footer .footNav:last-child .socialIcon li .zi-gplus {
          background-position: -182px -14px; }
  /* line 979, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  footer .appStoreDiv {
    padding: 30px 0;
    background: #f7f7f7;
    text-align: center; }
    /* line 984, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    footer .appStoreDiv h2 {
      margin-top: 0;
      margin-bottom: 20px; }
    /* line 989, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    footer .appStoreDiv a {
      display: inline-block;
      width: 135px;
      height: 40px;
      font-family: "Source Sans Pro", sans-serif;
      text-indent: -9999px;
      font-size: 10px;
      column-rule-color: #fafafa; }
    /* line 999, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    footer .appStoreDiv .iosStore {
      margin-right: 20px;
      background: url(../images/btn-iosstore.png) left top no-repeat; }
    /* line 1004, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    footer .appStoreDiv .playStore {
      background: url(../images/btn-playstore.png) left top no-repeat; }
  /* line 1009, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  footer .copyRight {
    padding: 30px 0;
    background: #f2f2f2; }
    /* line 1013, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    footer .copyRight p {
      font-family: "Source Sans Pro", sans-serif;
      color: #414a57;
      font-size: 12px;
      text-align: center; }
    /* line 1019, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    footer .copyRight a {
      margin: 0 10px;
      font-family: "Source Sans Pro", sans-serif;
      color: #414a57;
      font-size: 12.5px; }
      /* line 1025, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      footer .copyRight a:hover {
        color: #05c0f5;
        text-decoration: none; }

/* Footer End */
/* ---------------------------- CSS for below 1170 Screen ---------------------------- */
@media only screen and (max-width: 1170px) {
  /* line 1040, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  #myCarousel .carousel-inner {
    width: 100%; }
    /* line 1043, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    #myCarousel .carousel-inner .container {
      width: 100%; }
    /* line 1047, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    #myCarousel .carousel-inner img {
      width: 1200px;
      height: 400px; }
  /* line 1055, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .productContainer .container {
    width: 100%;
    padding: 0 15px; }
  /* line 1060, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .productContainer .productThumb {
    width: 30.8%; } }

/* ---------------------------- CSS for below 992 Screen ---------------------------- */
@media only screen and (max-width: 992px) {
  /* line 1071, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .navbar.navbar-inverse .navbar-slide {
    width: 110px; }
    /* line 1073, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .navbar.navbar-inverse .navbar-slide #leftNavTrig {
      padding-left: 0.5em; }
      /* line 1076, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      .navbar.navbar-inverse .navbar-slide #leftNavTrig .NavTitle {
        display: inline-block; }
  /* line 1086, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .productContainer .prodCat .themeBanner {
    width: 250px;
    height: auto; }
  /* line 1092, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .productContainer .prodThumbContainer {
    width: calc(100% - 270px); }
  /* line 1096, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .productContainer .productThumb {
    width: 47.4%; }
    /* line 1100, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .productContainer .productThumb:nth-child(3n) {
      margin-right: 20px; }
    /* line 1104, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .productContainer .productThumb:nth-child(2n) {
      margin-right: 0; } }

@media only screen and (max-width: 768px) {
  /* line 1115, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  footer .footNav {
    padding-left: 20px;
    width: 50%;
    margin-bottom: 30px; }
    /* line 1120, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    footer .footNav:nth-child(3) {
      clear: both; }
    /* line 1124, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    footer .footNav h6 {
      width: 95%; } }

/* ---------------------------- CSS for below 767 Screen ---------------------------- */
@media only screen and (max-width: 767px) {
  /* Main Nav CSS Start */
  /* line 1138, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .navbar.navbar-inverse .navbar-slide {
    padding-left: 15px; }
    /* line 1140, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .navbar.navbar-inverse .navbar-slide #leftNavTrig {
      display: block;
      height: 20px;
      width: 20px;
      padding: 0; }
      /* line 1145, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      .navbar.navbar-inverse .navbar-slide #leftNavTrig .NavTitle {
        display: none; }
  /* line 1151, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .navbar.navbar-inverse .navbar-header {
    width: 50px;
    height: 50px; }
    /* line 1154, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .navbar.navbar-inverse .navbar-header .navbar-brand {
      width: 50px;
      height: 100%;
      background-position: 5px -77px;
      background-size: 400% 400%; }
  /* line 1162, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .navbar.navbar-inverse .navbar-collapse {
    display: none; }
  /* Main Nav CSS End */
  /* Side Nav CSS Start */
  /* line 1172, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  #cd-lateral-nav {
    width: 220px;
    -webkit-transform: translateX(-220px);
    -moz-transform: translateX(-220px);
    -ms-transform: translateX(-220px);
    transform: translateX(-220px); }
    /* line 1176, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    #cd-lateral-nav .leftNav {
      margin: 10px 0 16px;
      padding-left: 0;
      list-style: none; }
      /* line 1181, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      #cd-lateral-nav .leftNav ul {
        list-style: none;
        padding-left: 15px; }
      /* line 1189, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      #cd-lateral-nav .leftNav li.subnav {
        margin-bottom: 20px;
        padding: 0 0 17px 20px;
        border-bottom: 1px solid #e5e9ef; }
    /* line 1197, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    #cd-lateral-nav h3 {
      margin-left: 0; }
    /* line 1201, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    #cd-lateral-nav .sub-menu {
      padding: 0 10px 20px 15px; }
    /* line 1205, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    #cd-lateral-nav a {
      padding: 0 16px 0 32px;
      color: #414a57; }
      /* line 1208, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      #cd-lateral-nav a.current {
        background-color: white;
        color: #FFF; }
      /* line 1212, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      .no-touch #cd-lateral-nav a:hover {
        color: #FFF; }
    /* line 1216, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    #cd-lateral-nav.leftNavOpen {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
      visibility: visible;
      -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0s;
      -moz-transition: -moz-transform 0.4s 0s, visibility 0s 0s;
      transition: transform 0.4s 0s, visibility 0s 0s;
      /* smooth the scrolling on touch devices - webkit browsers */
      -webkit-overflow-scrolling: touch; }
  /* Side Nav CSS End */
  /* Product Thumb */
  /* line 1235, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .productContainer .prodShortNav .navbar-header {
    float: right;
    height: 50px;
    width: 200px;
    border: 2px solid #969daa; }
  /* line 1242, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .productContainer .prodShortNav .navbar-toggle {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    color: #626d7b;
    text-align: left;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }
    /* line 1252, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .productContainer .prodShortNav .navbar-toggle:hover {
      background: #fcfcfc; }
    /* line 1256, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .productContainer .prodShortNav .navbar-toggle .themeTxt {
      display: inline-block;
      width: 100%; }
    /* line 1261, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .productContainer .prodShortNav .navbar-toggle .bs-caret {
      margin-top: -2px;
      position: absolute;
      right: 12px;
      vertical-align: middle; }
  /* line 1269, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .productContainer .prodShortNav .navbar-collapse {
    background: #fff;
    padding: 0;
    position: absolute;
    top: 50px;
    right: 20px;
    width: 200px;
    height: 200px !important;
    border: 1px solid rgba(0, 0, 0, 0.15); }
  /* line 1280, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .productContainer .prodShortNav ul.themeNav {
    display: block;
    width: 100%;
    background: #fff; }
    /* line 1284, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .productContainer .prodShortNav ul.themeNav li {
      width: 100%;
      font-size: 13px;
      text-align: left; }
      /* line 1289, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      .productContainer .prodShortNav ul.themeNav li a {
        display: block;
        padding: 5px 20px;
        height: auto;
        line-height: 22px; }
        /* line 1294, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
        .productContainer .prodShortNav ul.themeNav li a:hover {
          color: #626d7b;
          background-color: #f4f4f4; }
        /* line 1300, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
        .productContainer .prodShortNav ul.themeNav li a:hover:after, .productContainer .prodShortNav ul.themeNav li a.active:after {
          background: none; }
  /* line 1312, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .productContainer .prodCat .themeBanner {
    display: none; }
  /* line 1317, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .productContainer .prodThumbContainer {
    width: 100%; }
  /* line 1321, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .productContainer .productThumb {
    width: 47.3%; }
    /* line 1325, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .productContainer .productThumb:nth-child(3n) {
      margin-right: 20px; }
    /* line 1329, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .productContainer .productThumb:nth-child(2n) {
      margin-right: 0; }
  /* line 1337, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  footer .footNav {
    margin-bottom: 30px; }
    /* line 1339, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    footer .footNav:nth-child(3) {
      clear: both; } }

/* ---------------------------- CSS for below 400 Screen ---------------------------- */
@media only screen and (max-width: 400px) {
  /* Product Thumb */
  /* line 1359, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .productContainer .prodShortNav {
    height: auto;
    margin-bottom: 20px; }
    /* line 1362, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .productContainer .prodShortNav .selectForm {
      width: 100% !important;
      margin: 0 0 20px;
      left: auto; }
      /* line 1366, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
      .productContainer .prodShortNav .selectForm .dropdown-toggle {
        width: 100%; }
    /* line 1371, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .productContainer .prodShortNav .themeNavContainer {
      clear: both;
      position: relative;
      width: 100%;
      margin-bottom: 20px; }
    /* line 1378, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .productContainer .prodShortNav .navbar-header {
      float: none;
      width: 100%; }
    /* line 1383, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .productContainer .prodShortNav .navbar-collapse {
      width: 100%;
      right: 0; }
  /* line 1389, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .productContainer .prodCat {
    width: 100%; }
    /* line 1391, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .productContainer .prodCat .themeBanner {
      display: none; }
  /* line 1396, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .productContainer .prodThumbContainer {
    width: 100%; }
  /* line 1400, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  .productContainer .productThumb {
    clear: both;
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
    /* line 1405, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    .productContainer .productThumb:nth-child(2n) {
      margin-right: 0; }
  /* line 1413, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
  footer .footNav {
    width: 95%;
    margin-bottom: 30px;
    clear: both; }
    /* line 1418, /Applications/MAMP/htdocs/zoomin-2016/sass/homepage-v01.scss */
    footer .footNav:nth-child(4) {
      margin-bottom: 0; } }

/*# sourceMappingURL=homepage-v01.css.map */